body{
	margin:0;
	padding:0;
}
header{
	background-color:black;
	color:#fff;
	font-family:Verdana,sans-serif;
}

header ul{
	list-style:none;
	margin:0;
	padding:0;
}

header ul li{
	display:inline-block;
	font-size:15PX;
	text-transform:uppercase;
	padding:15px;
}

header ul li:hover{
	background-color:grey;
	color:black;
}